* {
    /* font-family: 'Merriweather', serif; */
    max-width: 100%;
    max-height: fit-content;
}

body{
    margin: 20px 80px;
    font-size: 1.2rem;
    background-color: #fff;
}

.container {
    display: grid !important;
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .5fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "main main main main"
        "search search search search"
        "weather weather weather weather"
        "footer footer footer footer";
 
}

.header{
    background-color: #96cfe7;
    grid-area: header;
}

.main {
    background-color: black;
    color: white;
    grid-area: main;
}

.search{
    background-color: #96cfe7;
   
}

.weather{
    background-color: #063041;
}

.weekly-forecast{
    background-color: #83cbe7;
}

.footer {
    background-color: #1ba0d8;
}


/* .search-bar {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
}


.search-bar .city-input {
    width: 150%;
    height: 50px;
    font-size: 1rem;
    text-align: center;
    opacity: 0.7;
    border-radius: 5px 0 0 5px;
    border:0vh solid black;
}

.search-bar .submit-button {
    position: absolute;
    width: 5%;
    height: 50px;
    text-align: center;
    opacity: 0.7;
    font-size: 1rem;
}

.submit-button {
    background-color: #a47e42;
    font-size: large;
    border:0vh;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #4e7d91;
} */

















